.content {
    background-image: url(/Casual.png); 
    background-repeat:no-repeat;
    background-size: cover;
    background-position:center center;
    border-radius: 30px;
  }

  mapContainer {
    width: 300px;
    margin: 10px auto 15px;
    text-align: center;
  }
  
  .fa-solid {
    font-size: 3rem;
    color: #ff0054;
    animation: animate 1.5s linear infinite;
  }
  
  @keyframes animate{
    0%{
      opacity: 0;
    }
    50%{
      opacity: 0.9;
    }
    100%{
      opacity: 1;
    }
  }